Repository No-Country-simulation/s21-19-t-webapp, pull requests merged in 2025-03, with the labels that each got.

#121 refactor: 🏗️update ReportMarker component to use correct property nam…
  Backend/target/classes/com/nocountry/urbia/config/CorsConfig.class
  Frontend/src/components/mapview/ReportMarker.jsx
  Frontend/src/lib/api/axios.js
Labels: Finished

#126 93 frontend habilitar filtros de categorías del menú de app urbia
  Backend/src/main/java/com/nocountry/urbia/config/CorsConfig.java
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/lib/store/useCategoryStore.js
  Frontend/src/lib/store/useReportsStore.js
Labels: Frontend, Finished

#129 103 bug ajustar diseño de botón selecciona una ciudad y dirección
  Backend/target/classes/com/nocountry/urbia/config/CorsConfig.class
  Frontend/src/assets/svgs/FrogReportInfra.svg
  Frontend/src/assets/svgs/FrogReportPoli.svg
  Frontend/src/assets/svgs/FrogReportSalud.svg
  Frontend/src/assets/svgs/FrogReportSocial.svg
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/components/mapview/CityNavigation.jsx
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/features/NewReportForm/NewReportForm.jsx
  Frontend/src/features/auth/MenuUser.jsx
  Frontend/src/lib/store/useReportsStore.js
Labels: Frontend, Finished

#138 Add user-specific report fetching and update menu component
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/features/reports/MyReports.jsx
  Frontend/src/lib/store/useReportsStore.js
Labels: Frontend, Finished

#139 Refactor Menu and MyReports components; update styles and improve rep…
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/ui/accordion.jsx
  Frontend/src/features/home/pages/HomePage.jsx
  Frontend/src/features/reports/MyReports.jsx
  Frontend/src/lib/api/reports/deleteReport.js
  Frontend/src/lib/api/reports/getReportsById.js
  Frontend/src/lib/store/useReportsStore.js
Labels: Frontend

#140 Implement map click handler and store selected coordinates in localSt…
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/mapview/hooks/useMapClick.js
  Frontend/src/lib/store/useMapStore.js
Labels: Frontend, Finished

#141 118 frontend hu11 implementar ver reporte seleccionado desde pin del mapa interactivo
  Frontend/index.html
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/mapview/ReportMarker.jsx
  Frontend/src/features/reports/MyReports.jsx
  Frontend/src/features/reports/ReportActions.jsx
  Frontend/src/features/reports/ReportView.jsx
  Frontend/src/features/reports/UrbiaLikes.jsx
Labels: Frontend, Finished

#144 Refactor Menu component to integrate ReportView and enhance report se…
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/features/home/pages/HomePage.jsx
  Frontend/src/features/reports/MyReports.jsx
  Frontend/src/features/reports/ReportView.jsx
  Frontend/src/lib/api/axios.js
  Frontend/src/lib/store/useReportsStore.js
Labels: Frontend, Finished

#145 Add report grouping utility and integrate into reports store; enhance…
  Frontend/src/assets/svgs/FrogPinGrupo.svg
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/mapview/ReportMarker.jsx
  Frontend/src/lib/store/useReportsStore.js
  Frontend/src/lib/utils/groupReports.js
Labels: Frontend, Finished

#147 Frontend test
  Frontend/src/components/mapview/AnimatedCircle.jsx
  Frontend/src/components/mapview/CitySelectionDialog.jsx
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/mapview/hooks/useUserLocation.js
  Frontend/src/components/ui/dialog.jsx
  Frontend/src/lib/utils/errorMessages.js
Labels: enhancement

#150 149 bug ajustes generales en el menú de la app
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/features/reports/MyReports.jsx
Labels: bug, Frontend, Finished

#161 Refactor components and improve error handling in geocoding functiona…
  Frontend/src/components/alerts/deleteAlerts/DeleteAlert.jsx
  Frontend/src/components/mapview/hooks/useReverseGeocode.js
  Frontend/src/features/NewReportForm/ConfirmReport.jsx
  Frontend/src/features/reports/ReportView.jsx
  Frontend/src/features/reports/UrbiaLikes.jsx
  Frontend/src/features/reports/form/CleanReportForm.jsx
  Frontend/src/lib/utils/groupReports.js
Labels: Frontend

#163 Refactor MapView and ReportMarker components to streamline report fil…
  Frontend/package-lock.json
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/mapview/ReportMarker.jsx
Labels: Frontend, QA - Testing

#164 Login solucion bugs
  Backend/src/main/java/com/nocountry/urbia/config/SecurityConfig.java
  Backend/src/main/java/com/nocountry/urbia/controller/LoginController.java
  Backend/src/main/java/com/nocountry/urbia/dto/response/UsuarioResponse.java
  Backend/src/main/java/com/nocountry/urbia/model/Reporte.java
  Backend/src/main/java/com/nocountry/urbia/service/impl/ReporteService.java
  Backend/src/main/java/com/nocountry/urbia/service/impl/UsuarioServiceImpl.java
  Backend/src/main/resources/application.properties
Labels: Backend

#165 create login form and add new assets
  Frontend/src/assets/Image.png
  Frontend/src/assets/svgs/Google.svg
  Frontend/src/assets/svgs/urbiLogin.svg
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/components/ui/dialog.jsx
  Frontend/src/features/auth/UserLogin.jsx
  Frontend/src/index.css
  Frontend/src/lib/api/reports/putReport.js
Labels: Frontend

#170 70 frontend hu5 implementar editar reporte mis reportes
  Frontend/src/assets/gift/frogIco.gif
  Frontend/src/assets/nenufarIco.png
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/mapview/hooks/useUserLocation.js
  Frontend/src/features/NewReportForm/ButtonAddNewReport.module.css
  Frontend/src/features/NewReportForm/ConfirmReport.jsx
  Frontend/src/features/NewReportForm/NewReportForm.jsx
  Frontend/src/features/reports/MyReports.jsx
  Frontend/src/features/reports/ReportView.jsx
  Frontend/src/features/reports/form/CleanReportForm.jsx
  Frontend/src/features/reports/form/components/ButtonAddNewReport.jsx
  Frontend/src/features/reports/form/components/ConfirmReport.jsx
  Frontend/src/features/reports/form/components/FormButtons.jsx
  Frontend/src/features/reports/form/components/ImageUploader.jsx
  Frontend/src/lib/api/categories/getCategories.js
  Frontend/src/lib/api/reports/putReport.js
  Frontend/src/lib/store/useCategoryStore.js
  Frontend/src/lib/store/useReportsStore.js
Labels: Frontend
