Repository No-Country-simulation/s21-19-t-webapp, pull requests merged in 2025-02, with the labels that each got.

#79 add menu for 'delete' and 'edit' and add scroll bar hover
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/assets/more-line.svg
  Frontend/src/components/ui/button.jsx
  Frontend/src/components/ui/dropdown-menu.jsx
  Frontend/src/features/reports/MyReports.jsx
  Frontend/src/features/reports/styles/MyReports.module.css
Labels: Frontend

#86 Unificar servicios ok
  .gitignore
  Backend/src/main/java/com/nocountry/urbia/controller/CategoriaController.java
  Backend/src/main/java/com/nocountry/urbia/controller/ReporteControllerFinal.java
  Backend/src/main/java/com/nocountry/urbia/controller/ReportesController.java
  Backend/src/main/java/com/nocountry/urbia/model/Reporte.java
  Backend/src/main/java/com/nocountry/urbia/model/Reportes.java
  Backend/src/main/java/com/nocountry/urbia/model/Usuario.java
  Backend/src/main/java/com/nocountry/urbia/model/Usuarios.java
  Backend/src/main/java/com/nocountry/urbia/repository/ReporteRepository.java
  Backend/src/main/java/com/nocountry/urbia/repository/ReportesRepository.java
  Backend/src/main/java/com/nocountry/urbia/repository/UsuarioRepository.java
  Backend/src/main/java/com/nocountry/urbia/service/impl/ReporteService.java
  Backend/src/main/java/com/nocountry/urbia/service/impl/ReporteServiceImpl.java
  Backend/target/classes/com/nocountry/urbia/controller/ReportesController.class
  Backend/target/classes/com/nocountry/urbia/model/Reportes.class
  Backend/target/classes/com/nocountry/urbia/model/Usuarios.class
  Backend/target/classes/com/nocountry/urbia/repository/ReportesRepository.class
  Backend/target/classes/com/nocountry/urbia/service/impl/ReporteServiceImpl.class
  Backend/target/classes/com/nocountry/urbia/service/impl/UsuarioServiceImpl.class
Labels: Backend, Finished

#87 85 feature título descriptivo frontend ajustar estilos de botones y detalles combinados con equipo de uxui
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/Adress/AdressCard.jsx
  Frontend/src/components/Adress/style/AddressCard.module.css
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/components/mapview/AddPWAButton.jsx
  Frontend/src/components/mapview/CityNavigation.jsx
  Frontend/src/components/mapview/CitySelectionDialog.jsx
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/mapview/MyLocationButton.jsx
  Frontend/src/components/mapview/style/MapView.css
  Frontend/src/components/ui/button.jsx
  Frontend/src/features/NewReportForm/ButtonAddNewReport.jsx
  Frontend/src/features/NewReportForm/NewReportForm.jsx
  Frontend/src/features/auth/MenuUser.jsx
  Frontend/src/features/auth/UserLogin.jsx
  Frontend/src/lib/service/axios.js
  Frontend/src/lib/service/categories/getCategories.js
  Frontend/src/lib/store/useCategoryStore.js
  Frontend/src/lib/store/useUserAuth.js
  Frontend/vite.config.js
Labels: Frontend, Finished

#94 88 bug ajuste del desplegable del botón escanear qa
  Backend/target/classes/com/nocountry/urbia/dto/response/JwtResponse.class
  Backend/target/classes/com/nocountry/urbia/model/Usuarios.class
  Backend/target/classes/com/nocountry/urbia/service/impl/UsuarioServiceImpl.class
  Frontend/src/components/Adress/style/AddressCard.module.css
  Frontend/src/components/mapview/AddPWAButton.jsx
Labels: Frontend

#95 89 bug persistencia del desplegable del botón escanear qr
  Frontend/src/components/mapview/AddPWAButton.jsx
  Frontend/src/features/auth/MenuUser.jsx
Labels: Frontend

#97 Prueba celi
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/assets/Warning.svg
  Frontend/src/components/alerts/deleteAlerts/DeleteAlert.jsx
  Frontend/src/components/alerts/styles/sweetAlertStyles.css
  Frontend/src/components/layout/Menu.jsx
  Frontend/src/features/reports/MyReports.jsx
  Frontend/src/lib/store/useReportsStore.js
Labels: enhancement, Frontend

#98 84 backend desarrollar endpoint implementación de ia para audio e imagen ok
  .gitignore
  Backend/.gitignore
  Backend/.idea/.gitignore
  Backend/.idea/compiler.xml
  Backend/.idea/encodings.xml
  Backend/.idea/jarRepositories.xml
  Backend/.idea/misc.xml
  Backend/.idea/vcs.xml
  Backend/pom.xml
  Backend/src/main/java/com/nocountry/urbia/controller/ReporteControllerFinal.java
  Backend/src/main/java/com/nocountry/urbia/dto/request/ReporteDTO.java
  Backend/src/main/java/com/nocountry/urbia/dto/request/ReporteRequest.java
  Backend/src/main/java/com/nocountry/urbia/model/Reporte.java
  Backend/src/main/java/com/nocountry/urbia/service/impl/ReporteService.java
  Backend/src/main/java/com/nocountry/urbia/service/integration/AIService.java
  Backend/src/main/java/com/nocountry/urbia/service/integration/GeminiService.java
  Backend/src/main/resources/application.properties
  Backend/target/classes/application.properties
  Backend/target/classes/com/nocountry/urbia/UrbiaApplication.class
  Backend/target/classes/com/nocountry/urbia/config/AppConfig.class
  Backend/target/classes/com/nocountry/urbia/config/CorsConfig.class
  Backend/target/classes/com/nocountry/urbia/config/GoogleCloudStorageBeanConfig.class
  Backend/target/classes/com/nocountry/urbia/config/MailConfig.class
  Backend/target/classes/com/nocountry/urbia/config/SecurityConfig.class
  Backend/target/classes/com/nocountry/urbia/config/WebMvcConfig.class
  Backend/target/classes/com/nocountry/urbia/controller/AuthController.class
  Backend/target/classes/com/nocountry/urbia/controller/ControllerHolaMundo.class
  Backend/target/classes/com/nocountry/urbia/controller/FileController.class
  Backend/target/classes/com/nocountry/urbia/controller/HealthController.class
  Backend/target/classes/com/nocountry/urbia/controller/UsuariosController.class
  Backend/target/classes/com/nocountry/urbia/dto/request/LoginRequest.class
  Backend/target/classes/com/nocountry/urbia/dto/request/ReporteRequest.class
  Backend/target/classes/com/nocountry/urbia/dto/request/UsuarioRegistroRequest.class
  Backend/target/classes/com/nocountry/urbia/dto/response/ErrorResponse.class
  Backend/target/classes/com/nocountry/urbia/dto/response/ReporteResponse.class
  Backend/target/classes/com/nocountry/urbia/dto/response/UsuarioResponse.class
  Backend/target/classes/com/nocountry/urbia/exception/GlobalExceptionHandler.class
  Backend/target/classes/com/nocountry/urbia/exception/RecursoNoEncontradoException.class
  Backend/target/classes/com/nocountry/urbia/exception/ValidacionException.class
  Backend/target/classes/com/nocountry/urbia/model/Notificacion.class
  Backend/target/classes/com/nocountry/urbia/model/Rol.class
  Backend/target/classes/com/nocountry/urbia/model/TipoReporte.class
  Backend/target/classes/com/nocountry/urbia/model/Usuarios.class
  Backend/target/classes/com/nocountry/urbia/repository/NotificacionRepository.class
  Backend/target/classes/com/nocountry/urbia/repository/UsuariosRepository.class
  Backend/target/classes/com/nocountry/urbia/security/JwtAuthEntryPoint.class
  Backend/target/classes/com/nocountry/urbia/security/JwtAuthFilter.class
  Backend/target/classes/com/nocountry/urbia/security/UserDetailsServiceImpl.class
  Backend/target/classes/com/nocountry/urbia/service/integration/AIService.class
  Backend/target/classes/com/nocountry/urbia/service/integration/EmailService.class
  Backend/target/classes/com/nocountry/urbia/service/integration/GoogleCloudStorageService.class
  Backend/target/classes/com/nocountry/urbia/util/GeoUtils.class
  Backend/target/classes/com/nocountry/urbia/util/JwtUtil.class
  Backend/target/classes/com/nocountry/urbia/util/ModelMapper.class
Labels: Backend

#100 Feat:🚀 Update report handling and improve category mapping in map vie…
  Frontend/src/components/mapview/MapView.jsx
  Frontend/src/components/mapview/ReportMarker.jsx
  Frontend/src/features/NewReportForm/NewReportForm.jsx
  Frontend/src/features/home/pages/HomePage.jsx
  Frontend/src/lib/service/categories/getCategories.js
  Frontend/src/lib/service/reports/gerReports.js
  Frontend/src/lib/store/useCategoryStore.js
  Frontend/src/lib/store/useReportsStore.js
Labels: Frontend, QA - Testing

#101 Feat: 🚀Add Basic login function conection with Backend.
  Frontend/src/features/auth/MenuUser.jsx
  Frontend/src/features/auth/UserLogin.jsx
  Frontend/src/lib/api/auth/login.js
  Frontend/src/lib/api/axios.js
  Frontend/src/lib/api/categories/getCategories.js
  Frontend/src/lib/api/reports/gerReports.js
  Frontend/src/lib/store/useCategoryStore.js
  Frontend/src/lib/store/useReportsStore.js
  Frontend/src/lib/store/useUserAuth.js
Labels: Frontend, Finished
